*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/*Membuat  Tampilan Utama Navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    color:burlywood;
    padding: 10px 32px;
}
/*Membuat Tanpilan Logo*/
.navbar .logo{
    font-size: 25px;
    font-weight: bold;
}

/*Membuat Tampilan Daftar Menu*/
.nav-links{
        list-style: none;
        display:flex;
        gap: 25px;
}
/*Membuat Tampilan teks link*/
.nav-links a{
    color:rgb(0, 58, 109);
    text-decoration: none;
    font-size: 16px;
    font-family: Impact;
}
/*Membuat Tampilan Hover*/
.nav-links a:hover{
    background-color: red;
    color: white;
}

#items{
    font-size: 16px;
    font-family: Impact;
    color: cadetblue;
}